PORT=5588
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456 
DB_NAME=user_management


JWT_SECRET=123456



DATABASE_URL="mysql://znovasms:Wefesfsd1%40!@150.95.85.225:3306/useManagemet"
DATABASE_USER="znovasms"
DATABASE_PASSWORD="Wefesfsd1@!"
DATABASE_NAME="userManagement"
DATABASE_HOST="150.95.85.225"
DATABASE_PORT=3306